:root {
  --base-color: #DB4040;
  --text-color: rgb(255, 255, 255);
  --text-color-2: #141414;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: 'Neurial Grotesk', sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  padding: auto;
  /* max-width: 1440px; */
}

p {
  font-size: 1rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  width: 100%;
  overflow: hidden;
}