@import url('../index.css');

.container {
    width: 100%;
    text-align: center;
}

.container h2{
    font-size: 20px;
    font-weight: 500;
    margin-top: 20px;
    margin-bottom: 20px;
}

.first-row {
    width: 100%;
}

.first-row__items {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.base-item {
    background-color: rgb(227, 233, 240);
    border: #141414 solid 1px;
    height: 120px;
    width: 400px;
}

.base-item h3 {
    font-size: 20px;
    line-height: 1.6;
}


.base-item__content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.base-item__content p {
    font-size: 30px;
    font-weight: 500;
    width: 100px;
}


/* chart & btn */

.second-row {
    margin-top: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.main-graph{
    height: 400px;
    width: 1000px;
}

.list-btn{
    height: 400px;
    width: 230px;
}

.group-btn{
    margin-top: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    background-color: rgb(227, 233, 240);
    padding: 10px;
}

.group-btn p{
    font-size: 20px;
    font-weight: 400px;
    width: 40px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked+.slider {
    background-color: #00ff6a;
}

input:focus+.slider {
    box-shadow: 0 0 1px #00ff6a;
}

input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

@keyframes spin {
    0% { transform: rotate(360deg); }

    100% { transform: rotate(0deg); }
}

.fan-spinning {
    animation: spin 1.5s linear infinite;
}